agile-itsm-web/agile-itsm-web-portal/src/main/resources/br/com/centralit/citsmart/rest/xsd/AddServiceRequest.XSD

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:include schemaLocation="Message.xsd" />
    <xsd:element name="AddServiceRequest" type="CtAddServiceRequest">
        <xsd:annotation>
            <xsd:documentation>
                Sistema externo solicita a inclusão de uma solicitação de serviço no
                CITSmart
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="AddServiceRequestResp" type="CtAddServiceRequestResp">
        <xsd:annotation>
            <xsd:documentation>
                CITSmart retorna inclusão de solicitação de serviço
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="CtAddServiceRequest">
        <xsd:complexContent>
            <xsd:extension base="CtMessage">
                <xsd:sequence>
                    <xsd:element name="ServiceRequestSource"
                        type="CtServiceRequest" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>
                                Informações da solicitação de serviço no sistema origem
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="CtAddServiceRequestResp">
        <xsd:complexContent>
            <xsd:extension base="CtMessageResp">
                <xsd:sequence>
                    <xsd:element name="ServiceRequestDest"
                        type="CtServiceRequest">
                        <xsd:annotation>
                            <xsd:documentation>
                                Detalhamento da solicitação de serviço criada no CITSmart
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="CtServiceRequest">
        <xsd:sequence>
            <xsd:element name="Number" type="xsd:string"
                nillable="false">
                <xsd:annotation>
                    <xsd:documentation>
                        Identificador da solicitação de serviço
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Type" type="StServiceRequestType">
                <xsd:annotation>
                    <xsd:documentation>
                        Tipo da solicitação de serviço
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Description" type="xsd:string"
                nillable="false">
                <xsd:annotation>
                    <xsd:documentation>
                        Descrição do serviço a ser executado
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="StartDateTime" type="xsd:dateTime"
                nillable="false">
                <xsd:annotation>
                    <xsd:documentation>
                        Data e hora de registro do chamado
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="StartSLA" type="xsd:dateTime"
                nillable="true">
                <xsd:annotation>
                    <xsd:documentation>
                        Data e hora de início do SLA
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="EndSLA" type="xsd:dateTime"
                nillable="true">
                <xsd:annotation>
                    <xsd:documentation>
                        Data e hora de encerramento do SLA
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Urgency" type="StServiceRequestPriority"
                nillable="true">
                <xsd:annotation>
                    <xsd:documentation>
                        Urgência
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Impact" type="StServiceRequestPriority"
                nillable="true">
                <xsd:annotation>
                    <xsd:documentation>
                        Impacto
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="GroupId" type="xsd:string"
                nillable="true">
                <xsd:annotation>
                    <xsd:documentation>
                        Identificador do grupo responsável pela execução
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserID" type="xsd:string"
                nillable="true">
                <xsd:annotation>
                    <xsd:documentation>
                        Identificador do usuário solicitante
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Contact" type="CtContact"
                minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Informações do solicitante
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Service" type="CtService"
                minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Informações do serviço a ser executado
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CtContact">
        <xsd:sequence>
            <xsd:element name="Name" type="xsd:string"
                nillable="true">
                <xsd:annotation>
                    <xsd:documentation>
                        Nome do contato
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Department" type="xsd:string"
                nillable="true">
                <xsd:annotation>
                    <xsd:documentation>
                        Departamento de lotação do contato
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Email" type="xsd:string"
                nillable="true">
                <xsd:annotation>
                    <xsd:documentation>
                        Email do contato
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="PhoneNumber" type="xsd:string"
                nillable="true">
                <xsd:annotation>
                    <xsd:documentation>
                        Telefone do contato
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CtService">
        <xsd:sequence>
            <xsd:element name="Code" type="xsd:string"
                nillable="false">
                <xsd:annotation>
                    <xsd:documentation>
                        Identificador do servico no catálogo
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Description" type="xsd:string"
                nillable="false">
                <xsd:annotation>
                    <xsd:documentation>
                        Nome do serviço no catálogo
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Definicao do tipos simples do evento -->

    <xsd:simpleType name="StServiceRequestType">
        <xsd:annotation>
            <xsd:documentation>
                Tipo da solicitação de serviço: R - Requisição; I - Incidente
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="R" />
            <xsd:enumeration value="I" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="StServiceRequestPriority">
        <xsd:annotation>
            <xsd:documentation>
                H - (High) Alta, M - (Medium) Média, L - Baixa
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="H" />
            <xsd:enumeration value="M" />
            <xsd:enumeration value="L" />
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>
