agile-itsm-web/agile-itsm-web-portal/src/main/resources/br/com/centralit/citsmart/rest/xsd/BICitsmart.XSD

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="BICitsmart" type="BICitsmart">
        <xsd:annotation>
            <xsd:documentation>
                Solicita os dados de uma tabela
                específica.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="BICitsmartResp" type="BICitsmartResp">
        <xsd:annotation>
            <xsd:documentation>
                CITSmart retorna um xml com os dados da
                tabela solicitada.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="CtError">
        <xsd:sequence>
            <xsd:element name="Code" type="xsd:string"
                nillable="false">
                <xsd:annotation>
                    <xsd:documentation>
                        Identificador do erro
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Description" type="xsd:string"
                nillable="false">
                <xsd:annotation>
                    <xsd:documentation>
                        Descrição do erro
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CtMessage">
        <xsd:sequence>
            <xsd:element name="SessionID" type="xsd:string"
                nillable="false">
                <xsd:annotation>
                    <xsd:documentation>
                        ID da sessão
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="MessageID" type="xsd:string"
                nillable="true">
                <xsd:annotation>
                    <xsd:documentation>
                        Nome da operação
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CtMessageResp">
        <xsd:sequence>
            <xsd:element name="DateTime" type="xsd:dateTime"
                nillable="false">
                <xsd:annotation>
                    <xsd:documentation>
                        Data e hora de processamento no
                        CITSmart
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="OperationID" type="xsd:integer"
                nillable="false">
                <xsd:annotation>
                    <xsd:documentation>
                        Identificador da operação no
                        CITSmart
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Error" type="CtError"
                nillable="true">
                <xsd:annotation>
                    <xsd:documentation>
                        Erro na operação no CITSmart
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="BICitsmart">
        <xsd:complexContent>
            <xsd:extension base="CtMessage">
                <xsd:sequence>
                    <xsd:element name="BICitsmartType" type="xsd:string"
                        minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>
                                Indica a tabela que
                                deverá ser recebida
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="BICitsmartResp">
        <xsd:complexContent>
            <xsd:extension base="CtMessageResp">
                <xsd:sequence>
                    <xsd:element name="Xml" type="xsd:string"
                        minOccurs="1" maxOccurs="1" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>
