agile-itsm-web/agile-itsm-web-portal/src/main/resources/br/com/centralit/citsmart/rest/xsd/Error.XSD

<?xml version='1.0' encoding='ISO-8859-1'?>
<xsd:schema xmlns:xsd='http://www.w3.org/2001/XMLSchema'>

    <xsd:complexType name='CtError'>
        <xsd:sequence>
            <xsd:element name='Code' type="xsd:string"
                nillable="false">
                <xsd:annotation>
                    <xsd:documentation>
                        Identificador do erro
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name='Description' type="xsd:string"
                nillable="false">
                <xsd:annotation>
                    <xsd:documentation>
                        Descrição do erro
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>
