agile-itsm-web/agile-itsm-web-portal/src/main/resources/br/com/centralit/citsmart/rest/xsd/Message.XSD

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:include schemaLocation="Error.xsd" />

    <xsd:element name="Message" type="CtMessage">
        <xsd:annotation>
            <xsd:documentation>
                Sistema externo envia mensagem ao CITSmart
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="MessageResp" type="CtMessageResp">
        <xsd:annotation>
            <xsd:documentation>
                CITSmart responde mensagem do sistema externo
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="Login" type="CtLogin">
        <xsd:annotation>
            <xsd:documentation>
                Sistema externo solicita autenticação de usuário no CITSmart
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="LoginResp" type="CtLoginResp">
        <xsd:annotation>
            <xsd:documentation>
                CITSmart retorna ID da sessão
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="CtLogin">
        <xsd:sequence>
            <xsd:element name="UserName" type="xsd:string"
                nillable="false">
                <xsd:annotation>
                    <xsd:documentation>
                        Login do usuário
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Password" type="xsd:string"
                nillable="false">
                <xsd:annotation>
                    <xsd:documentation>
                        Senha do usuário
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CtLoginResp">
        <xsd:sequence>
            <xsd:choice>
                <xsd:element name="Error" type="CtError"
                    nillable="false">
                    <xsd:annotation>
                        <xsd:documentation>
                            Erro na operação no CITSmart
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="SessionID" type="xsd:string"
                    nillable="false">
                    <xsd:annotation>
                        <xsd:documentation>
                            Identificador da sessão
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CtMessage">
        <xsd:sequence>
            <xsd:element name="SessionID" type="xsd:string"
                nillable="false">
                <xsd:annotation>
                    <xsd:documentation>
                        ID da sessão
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="MessageID" type="xsd:string"
                nillable="true">
                <xsd:annotation>
                    <xsd:documentation>
                        Nome da operação
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CtMessageResp">
        <xsd:sequence>
            <xsd:element name="DateTime" type="xsd:dateTime"
                nillable="false">
                <xsd:annotation>
                    <xsd:documentation>
                        Data e hora de processamento no CITSmart
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="OperationID" type="xsd:integer"
                nillable="false">
                <xsd:annotation>
                    <xsd:documentation>
                        Identificador da operação no CITSmart
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Error" type="CtError"
                nillable="true">
                <xsd:annotation>
                    <xsd:documentation>
                        Erro na operação no CITSmart
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>
